<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CourrielETL" value="et.faucher@gmail.com"/>
    <add key="PasswordETL" value="1qaz3edc"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportContract">
          <security mode="Transport" />
        </binding>
        <binding name="ReportContract1" />
        <binding name="AuthorizationContract">
          <security mode="Transport" />
        </binding>
        <binding name="AuthorizationContract1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ppws.astus.com/2010/11/ReportService.asmx"
          binding="basicHttpBinding" bindingConfiguration="ReportContract"
          contract="Report.ReportContract" name="ReportContract" />
      <endpoint address="https://ppws.astus.com/2010/11/AuthenticationService.asmx"
          binding="basicHttpBinding" bindingConfiguration="AuthorizationContract"
          contract="Authentification.AuthorizationContract" name="AuthorizationContract" />
    </client>
  </system.serviceModel>
</configuration>