<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CourrielETL" value="et.faucher@gmail.com"/>
    <add key="PasswordETL" value="1qaz3edc"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthorizationContract" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport" />
        </binding>
        <binding name="AuthorizationContract1" />
        <binding name="EventContract" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport" />
        </binding>
        <binding name="EventContract1" />
        <binding name="StaticContract" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport" />
        </binding>
        <binding name="StaticContract1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ppws.astus.com/2010/11/AuthenticationService.asmx"
          binding="basicHttpBinding" bindingConfiguration="AuthorizationContract"
          contract="Authentification.AuthorizationContract" name="AuthorizationContract" />
      <endpoint address="https://ppws.astus.com/2010/11/EventService.asmx"
          binding="basicHttpBinding" bindingConfiguration="EventContract"
          contract="Event.EventContract" name="EventContract" />
      <endpoint address="https://ppws.astus.com/2010/11/StaticService.asmx"
          binding="basicHttpBinding" bindingConfiguration="StaticContract"
          contract="Static.StaticContract" name="StaticContract" />
    </client>
  </system.serviceModel>
</configuration>